body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(180deg, #08102a, #000000);
  color: white;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.logo {
  font-size: 28px;
  font-weight: 600;
}

.logo span {
  color: #4ade80;
}

.navbar ul {
  display: flex;
  gap: 25px;
  list-style: none;
}

.navbar ul li {
  cursor: pointer;
  font-size: 16px;
  transition: 0.2s;
}

.navbar ul li:hover {
  color: #cfcfcf;
}



.hero {
    min-height: 70vh;
  height: auto; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}




.scoreboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 800px;
}

.score-item {
  background: rgba(255, 255, 255, 0.05);
  padding: 16px 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.score-label {
  font-size: 16px;
  text-transform: capitalize;
}

.score-box {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  font-size: 18px;
}




.user-detail-card {
  margin: 40px auto 10px;
  padding: 25px 35px;
  max-width: 600px;
  text-align: center;

  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.15);

  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
}


.user-welcome {
  font-size: 24px;
  margin-bottom: 15px;
  color: #ffffff;
  font-weight: 500;
}


.highlight {
  color: #4ade80;       
  font-weight: 700;
}


.domain-badge {
  display: inline-block;
  margin-top: 8px;
  padding: 8px 18px;

  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;

  background: rgba(34, 197, 94, 0.2);
  border: 1px solid #22c55e;

  border-radius: 12px;
  color: #22c55e;
}
